.card-trainfes{
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 10px;
  width: 100%;
  text-decoration: none!important;
}

.card-trainfes:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.10);
}
