.card-body{
  padding: 30px 0px 20px 20px;
  min-height: 170px;
  max-height: 170px;
}

.card-title{
  color: #8598AD;
  font-size: 21px;
}

.card-title-session{
  color: #8598AD;
  font-size: 14px;
}

.card-category{
  font-size: 18px;
  color: #1E88E5;
}

.card-activity{
  color: #3F567A;
  font-size: 48px;
  margin-top: -15px;
  font-weight: 500;
}

.iconArow:hover{
  width: 60%;
  cursor: pointer;
}
