
/*Gráfico*/
/*Tamaño Gráfico*/
.ct-chart {
  height: 350px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.ct-bar {
  fill: none;
  stroke-width: 25px;
}
/*Grosor lineas Gráfico*/
.ct-series-a .ct-line {
  stroke-width: 1px;
}
.ct-series-a .ct-area {
  fill: #1E88E5;
  stroke-width: 1px;
}
.ct-series-b .ct-area {
  fill: #29E1FF;
  stroke-width: 1px;
}
/* Grosor puntos Gráfico*/
.ct-point {
    stroke-width: 5px;
    stroke-linecap: round;
}
/*Grilla Gráfico*/
.ct-grid {
  stroke: rgba(0,0,0,.1);
  stroke-width: 0.5px;
  stroke-dasharray: 1px;
}
/*Color Gráfico*/
.ct-series-a .ct-point,
.ct-series-a .ct-line,
.ct-series-a .ct-bar,
.ct-series-a .ct-slice-donut {
  stroke: #1E88E5;
}
.ct-series-b .ct-point,
.ct-series-b .ct-line,
.ct-series-b .ct-bar,
.ct-series-b .ct-slice-donut {
  stroke: #29E1FF;
  stroke-width: 1px;
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-donut-solid,
.ct-series-c .ct-slice-pie {
  fill: #FF9A03;
}

.ct-series-c .ct-bar,
.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-slice-donut {
  stroke: #FF9A03;
}

.ct-series-c .ct-line {
  stroke-width: 2px;
}

.ct-label .ct-vertical .ct-start{
  color: #FF9A03;
}

/*Generales*/

a{
  text-decoration: none!important;
  color: #636262;
}

.ml-12{
  margin-left: 12px;
}

.fz-12{
  font-size: 12px;
}

.fw-200{
  font-weight: 200;
}

.fw-600{
    font-weight: 600;
}

.pt-60{
  padding-top: 60px;
}

.decoration-none{
  text-decoration: none!important;
}

.link:focus{
  text-decoration: none;
}

.shadow-trainfes{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.10);
}

.scroll-main{
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.scroll-row{
  height: 100vh!important;
  overflow: hidden;
}

/*Color*/

.text-trainfes{
  color: #1E88E5;
}
.text-grey-04 {
  color:#C4C4C4;
}
.text-grey-05{
  color:#979797;
}






.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
